@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fafaf7;
  --ink: #0a0a0a;
}

html,
body {
  background: var(--bg);
  color: var(--ink);
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar sutil */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d0;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}